# Unit tests config
phpunit.xml
.travis.yml
/bin
tests/mocks/env/
virtuoso.pot
mix-manifest.json

/assets/sass/style.scss

# Sass cache
.sass-cache/
vendor

# Development files
/node_modules
/assets/vendor/
*.map

assets/sass/style.scss

.idea/

_keep-old/

/dist/

assets/sass/plugins/.DS_Store