# Unit tests config
phpunit.xml
.travis.yml
/bin
tests/mocks/env/
virtuoso.pot
mix-manifest.json
vendor

# Sass cache
.sass-cache/

# Development files
/node_modules
/assets/vendor/
*.map

.idea/

_keep-old/
