.portfolio-template-visual-photography-single {

  .site-inner {

    padding: 10px;

    .entry {
      background: transparent;


    }

    .entry-content ol,
    .entry-content ul {
      margin: 0 auto;
    }

    //.entry-content {
    //  position: fixed;
    //  top: 160px;
    //  z-index: -1;
    //}
  }

}