.portfolio-template-visual-photography-single {

  .site-inner {

    padding: 10px;

    .entry {
      background: transparent;


    }

    .entry-content ol,
    .entry-content ul {
      margin: 0 auto;
    }
  }

}