/* ## Mobile Navigation
--------------------------------------------- */

.mobile-navigation {
  background: $nav--link-color;

  &.mobile-navigation-open {
    height: 100vh;
    width: 100vw;
    left: 0;
    position: absolute;
    z-index: 99999;
    ul {
      margin: 30px auto;

      &.sub-menu {
        margin: 0 auto;


      }

    }

    li {
      display: block;

    }

    .responsive-menu-icon {
      top: unset;
      height: unset;
      margin-top: unset;
      right: unset;
      left: 0;
      margin: 20px;

    }
  }
}