/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
  background-color: $primary-nav--background-color;
  display: none;

  .header-logo-middle & {
    float: left;
    width: 100%;
  }

  .header-logo-left & {
    clear: both;

    #menu-primary-naviagtion {
      display: flex;
      flex-direction: column;
    }
  }

  > .wrap {
    position: relative;
    padding: 0;
  }

  @include media-query('med') {

    margin-bottom: 0;
    display: block;

    .header-logo-middle & {
      text-align: right;
      width: 40%;
      
    }
    .header-logo-left & {
      clear: none;
      margin-top: 15px;

      #menu-primary-naviagtion {
        flex-direction: row;
      }

      .menu-primary {
        float: right;
        width: auto;
        clear: none;
        text-align: center;
        display: inline-flex;
      }
      
    }

    .header-navigation-middle & {
      float: none;
      display: inline-block;
    }

  }
}