/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
  background-color: $primary-nav--background-color;
  //float: left;
  //width: 100%;
  clear: both;

  display: none;

  > .wrap {
    position: relative;
    padding: 0;
  }

  @include media-query('med'){
    //text-align: right;
    //width: 40%;
    margin-bottom: 0;
    display: block;
    clear: none;

    .menu-primary {
      float: right;
      width: auto;
      clear: none;
      text-align: center;
    }

  }
}