/* ## Accessible Menu
--------------------------------------------- */

.header-web-application .menu .menu-item {
  &:focus {
    position: static;
  }

  &.menu-item-has-children {
    position: relative;
  }

	> a:focus + ul.sub-menu {
		left: auto;
		opacity: 1;
	}

	&.sfHover > ul.sub-menu {
		display: block;
		left: auto;
		opacity: 1;
	}

	&.click-activated > ul.sub-menu {
		display: block !important;
		opacity: 1;
	}
}

.header-web-application .menu-toggle {
  border-width: 0;
  display: block;
  margin: 0;
  overflow: hidden;
  text-align: center;
  visibility: visible;
  padding: 8px 0;
  background: $web-app-button--background-color;
  height: fit-content;
  border-radius: 4px;

}

.header-web-application {

  .click-activated {
    .sub-menu-toggle::before {
        font-family: "Themify";
        content: "\e648";
    }
  }

  .sub-menu-toggle {
    display: block;
    visibility: visible;
    background: none;
    width: 100%;
    text-align: right;

    @include media-query('lg') {
      padding: 17px;
    }

    &:before {
      display: inline-block;
      text-rendering: auto;
      transform: translate(0, 0);
    }

    &.activated:before {
      font-family: "Themify";
      content: "\e648";
    }

  }
}

.header-web-application .menu-toggle {
  line-height: 1px;
  z-index: 1;
  padding: 10px;

  .site-header & {
    border: 0;
  }

  &:before,
  &.activated:before {
    text-rendering: auto;
    transform: translate(0, 0);
  }

  &:before {
    content: url('../../assets/images/icon-down.svg');
    background-color: $web-app-button--background-color;

  }

  &.activated:before {
    content: url('../../assets/images/icon-up.svg');
  }

}