/* ## Accessible Menu
--------------------------------------------- */

.header-web-application .menu .menu-item {
  &:focus {
    position: static;
  }

  &.menu-item-has-children {
    position: relative;
  }

  > a:focus + ul.sub-menu,
  &.sfHover > ul.sub-menu {
    left: auto;
    opacity: 1;
  }
}

.header-web-application .menu-toggle {
  position: absolute;
  left: 67px;
  border-width: 0;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  visibility: visible;
  padding: 0;
}

.header-web-application .sub-menu-toggle {
  float: none;
  display: block;
  position: absolute;
  visibility: visible;
  right: 8px;
  padding: 10px 8px;
  margin-right: -8px;

  @include media-query('med') {
    padding: 17px;
  }

  &:before {
    display: inline-block;
    text-rendering: auto;
    transform: translate(0, 0);
  }

  &.activated:before {
    font-family: "Themify";
    content: "\e648";
  }

}

.header-web-application .menu-toggle {
  line-height: 20px;
  z-index: 1;

  .site-header & {
    border: 0;
  }

  &:before,
  &.activated:before {
    text-rendering: auto;
    transform: translate(0, 0);
  }

  &:before {
    content: url('../../assets/images/icon-down.svg');
    padding: 11px 11px;
    background-color: $web-app-button--background-color;
    border-radius: 4px;

  }

  &.activated:before {
    content: url('../../assets/images/icon-up.svg');
  }

}