/* ## Accessible Menu
--------------------------------------------- */

.header-web-application .menu .menu-item {
  &:focus {
    position: static;
  }

  &.menu-item-has-children {
    position: relative;
  }

  > a:focus + ul.sub-menu,
  &.sfHover > ul.sub-menu {
    left: auto;
    opacity: 1;
  }
}

.header-web-application .menu-toggle {
  position: absolute;
  left: 63px;
  border-width: 0;
  display: block;
  margin: 0;
  overflow: hidden;
  text-align: center;
  visibility: visible;
  padding: 0;

  @include media-query('med') {
    left: 67px;
  }
}

.header-web-application {

  .sfHover {
    .sub-menu-toggle::before {
        font-family: "Themify";
        content: "\e648";
    }
  }

  .sub-menu-toggle {
    //float: none;
    //display: block;
    //position: absolute;
    //visibility: visible;
    //right: 8px;
    //padding: 10px 8px;
    //margin-right: -8px;
    display: block;
    visibility: visible;
    background: none;
    width: 100%;
    text-align: right;

    @include media-query('lg') {
      padding: 17px;
    }

    &:before {
      display: inline-block;
      text-rendering: auto;
      transform: translate(0, 0);
    }

    &.activated:before {
      font-family: "Themify";
      content: "\e648";
    }

  }
}

.header-web-application .menu-toggle {
  line-height: 20px;
  z-index: 1;

  .site-header & {
    border: 0;
  }

  &:before,
  &.activated:before {
    text-rendering: auto;
    transform: translate(0, 0);
  }

  &:before {
    content: url('../../assets/images/icon-down.svg');
    padding: 11px 6px;
    background-color: $web-app-button--background-color;
    border-radius: 4px;

    @include media-query('med') {
      padding: 11px 11px;
    }

  }

  &.activated:before {
    content: url('../../assets/images/icon-up.svg');
  }

}