/* ## Navigation Container
--------------------------------------------- */

.header-web-application .navigation-container {
  display: flex;
  align-items: center;
  min-height: 70px;
  margin-right: 15px;

  @include media-query('med'){
    margin: 0 15px 0 0;
  }

}