/* ## Navigation Container
--------------------------------------------- */

.header-web-application .navigation-container {
  position: unset;

  @include media-query('med'){
    position: unset;
    margin: 0;
  }

}