/* ## Primary Navigation
--------------------------------------------- */

.header-web-application .nav-primary {
  display: none;
  position: absolute;
  top: 80px;

  > .wrap {
    position: relative;
    padding: 0;
  }
}