/* ## Primary Navigation
--------------------------------------------- */

.header-web-application .nav-primary {
  display: none;
  position: absolute;
  top: 70px;
  z-index: 1;

  > .wrap {
    position: relative;
    padding: 0;
  }
}