.search-and-header-right-container {
  .header-web-application & {
    width: calc(100% - 140px);
    position: absolute;
    top: 53px;
    right: 20px;

    .search-and-header-right-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    form {
      width: calc(53% - 98px);
      margin-right: 30px;
      flex: 1;

      button {
        position: absolute;
        background: transparent;
        top: 0;
        bottom: 0;
        padding: 0;
        left: 1em;
        margin: auto 0 auto 0;
      }

      input {
        padding-left: 50px;
        border: $search--border-color;
        background: $search--background-color;
        border-radius: 4px;
        max-height: 38px;
      }
    }

    .header-right {
      display: flex;
      align-items: center;

      .user-image {
        width: $profile-image--width;
        height: $profile-image--height;
        img {
          border-radius: 50%;
        }
      }
    }

  }
}