#floatingContact {
  position: fixed;
  right: 5%;
  top: 85vh;
  z-index: 10;
  height: 60px;
  width: 60px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $floatingContact--font-size;
    padding: 0;
    height: 60px;
    width: 60px;
    color: $floatingContact--color;
    background: $floatingContact--background-color;
  }
}