#floatingContact {
  position: fixed;
  right: 5%;
  bottom: 2vh;
  z-index: 10;
  height: 60px;
  width: 60px;

  @include media-query('med') {
    bottom: 5vh;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $floatingContact--font-size;
    padding: 0;
    height: 60px;
    width: 60px;
    color: $floatingContact--color;
    background: $floatingContact--background-color;
  }
}