/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background: $siteFooter--background-color;
  @include rem( font-size, $site-footer--font-size );
  line-height: 1;
  text-align: center;

  > .wrap {
    color: $siteFooter--color;
    border-top: 1px solid $site-footer--border-color;
    padding: 5vw;

    @include media-query('med'){
      padding: 3rem;
      width: 90%;

    }

  }

	.footer-copyright {
		display: flex;
		justify-content: center;
		align-items: center;
	}

  .footer-consent {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    a {

      @include at-least(2, 'a') { //four or more
        &:nth-child(2) {
          border-left: 1px solid $site-footer--border-color;
          margin: 10px 5px;
          padding: 0 5px;
        }
      }

      @include at-least(3, 'a') { //three or more
        &:nth-child(2) {
          border-left: 1px solid $site-footer--border-color;
          border-right: 1px solid $site-footer--border-color;
          margin: 10px 5px;
          padding: 0 5px;
        }
      }

      &:hover {
        color: lighten($siteFooter--color, 20%);
      }

    }
  }

  .footer-login {
    margin-left: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid $siteFooter__login--border-color;

    &:hover {
      border-bottom: none;
    }
  }

  a {
    color: $siteFooter--link-color;
  }

  p {
    margin-bottom: 0;
    line-height: 1.5;
  }
}