//
// Title Area Base Styles
//==============================

.title-area {
  //display: inline-block;
  //height: $site-title--min-height;
  //margin-right: auto;
  //margin-left: auto;
  //idth: $title-area--width;
  float: left;
  position: relative;
  z-index: 1;
}
