.home {

  .site-inner {
    padding: 0 !important;
  }

  .front-page-1 {
    text-align: center;
    color: $white;
    max-width: 650px;
    margin: 100px auto 0 auto;
    height: 80vh;
    .arc-top {
      position: absolute;
      left: 0;

      right: 0;

      @media (max-width: 780px) {
        bottom: -80px;
      }
      @media (min-width: 781px) {
        bottom: -60px;
      }
    }
  }

  .front-page-2 {
    background: linear-gradient(180deg, #12141a, $umbra--dark-blue 40%);
    text-align: center;
    position: relative;

    .wrap {
      padding: 0;
    }



    .content {
      padding: 2em 5%;
    }

    //background: url('../../project-specific/assets/images/moon-bkg.svg') no-repeat 0;
    //background-size: contain;

  }
  .front-page-5 {

    text-align: center;
    background: $umbra--dark-blue;

    .wrap {
      padding: 2em 5%;
    }
    .front-team_wrap {
      display: flex;
      flex-direction: column;

      @include media-query('med'){
        flex-direction: row;
      }
    }
  }


}


//@include media-query('med') {
//
//}